button,
html [type="button"],
[type="reset"],
[type="submit"] {
	-webkit-appearance: button;
	text-transform: uppercase;
	cursor: pointer;
}
[disabled] {
	cursor: default;
}
button,
input,
select,
textarea {
	margin: 0;
	@include font(14,16);
	padding: 12px 10px;
	border: 1px solid #d1d2d4;
	border: 0;
}
input {
	width: 100%;
}
textarea {
	overflow: auto;
	resize: none;
}

fieldset {
	border: 1px solid #c0c0c0;
	margin: 0 2px;
	padding: 0.35em 0.625em 0.75em;
	legend {
		box-sizing: border-box;
		color: inherit;
		display: table;
		max-width: 100%;
		padding: 0;
		white-space: normal;
	}
}


::placeholder {
	color: #555;
}

.reg-form {
	margin: 0 -12px;
	display: flex;
	flex-wrap: wrap;
	color: #fff;
	&__item {
		padding: 17px 12px;
		flex: 1;
		@include basis(50%);
		.reg-form_result & {
			@include basis(63%);
			flex-grow: 0;
			input {
				margin: 5px 0 10px;
			}
			&:last-child {
				padding-top: 25px;
			}
		}
		&_full {
			@include basis(100%);
		}
		&_short {
			@include basis(25%);
		}
		label,
		.label {
			@include font(18,24);
			color: #fff;
			a {
				color: inherit;
				&:focus {
					outline-color: $blue;
				}
			}
		}
		.icon {
			position: relative;
			input {
				padding-left: 42px;
			}
			&::before {
				position: absolute;
				content: " ";
				display: block;
				top: 50%;
				left: 10px;
				transform: translateY(-50%);	
			}
			&_name::before {
				@include sprite($ico-form_name);
			}
			&_tel::before {
				@include sprite($ico-form_tel);
			}
			&_email::before {
				@include sprite($ico-form_mail);
			}
			&_date::before {
				@include sprite($ico-form_date);
			}
			&_home::before {
				@include sprite($ico-form_home);
			}
			&_location::before {
				@include sprite($ico-form_location);
			}
		}
	}
	input {
		&[type=checkbox] {
			position: absolute;
			left: -9999px;
			& + label {
				display: inline-block;
				padding-left: 24px;
				position: relative;
				margin-bottom: 10px;
				cursor: pointer;
				&::before {
					content: " ";
					display: block;
					position: absolute;
					top: 50%;
					left: 0;
					transform: translateY(-50%);
					@include sprite($ico-checkbox-off)
				}
			}
			&:checked {
				& + label {
					&::before {
						@include sprite($ico-checkbox-on)
					}
				}
			}
			&:focus {
				& + label::before {
					outline: 2px solid $blue;
				}
			}
		}
	}
}