.header {
  margin-bottom: 25px;
  margin-top: 1px;
  .row {
    flex-wrap: nowrap;
    .col{
      &:first-child {
        flex-basis: 33.3333%;
        flex-grow: 0;
      }
    }
  }  
}
.site-slogan {
  text-decoration: none;
  display: block;
  padding-right: 98px;
  margin-top: 15px;
  &__item {
    &:first-child{
      color: $orange;
      @include font(68,60,700);
      letter-spacing: -5px;
    }
    &:last-child{
      color: #008592;
      @include font(24,22);
      text-align: right;
    }
  } 
  &:focus {
    outline: none;
  }
}
