// Headers

@mixin h1style(){
	@include font(36,42,300);
	text-transform: uppercase;
	text-align: center;
	margin: 22px 0;
	color: $header;
	@include mq(md){
		@include font(34,38,300);
	}
	@include mq(xs){
		@include font(32,36,300);
	}
}

h1, .h1 {
	@include h1style;
}
h2, .h2 {
	@include font(30,34,400);
	text-transform: uppercase;
	color: $header;
	margin: 22px 0;
	@include mq(md){
		@include font(28,32,400);
	}
	@include mq(xs) {
		@include font(26,30,400);
	}
}
h3, .h3 {
	@include font(24,28,400);
	text-transform: uppercase;
	color: $header;
	margin: 13px 0;
	@include mq(md){
		@include font(22,24,400);
	}
	@include mq(xs){
		@include font(20,22,400);
	}
}
h4, .h4 {
	@include font(20,24,700);
	text-transform: uppercase;
	color: $header;
	margin: 13px 0;
	@include mq(md){
		@include font(18,20,400);
	}
}

.content {
  ul {
    @include list;
  }
  & > *:first-child{
		margin-top: 0;
	}
}

.btn {
	&_blue {
		@include gbBtn(bottom, #00c1d8, #00789a);
	}
	&_orange {
		@include gbBtn(bottom, #f78600, #db4516);
	}
}
p {
	@include mq(sm){
		font-size: 0.95em;
	}
	@include mq(xs){
		font-size: 0.9em;
	}
}