.site-options {
  position: relative;
  height: 682px;
  margin-bottom: 35px;
  @include mq(lg){
    height: auto;
    background: linear-gradient(to bottom, #f4b7a4 0%, #fae1d9 100%);
    padding-bottom: 20px;
  }
  &__item {
    height: 100%;
    @include mq(lg) {
      @include basis(100%);
    }
  }
  &__bkg {
    position: absolute;
    top: 0;
    height: 100%;
    width: calc(50% + 52px);
    overflow: hidden;
    @include mq(lg) {
      display: none;
    }
    &_left {
      z-index: 5;
      left: 0;
      svg {
        position: absolute;
        top: 0;
        right: 0;
      }
    }
    &_right {
      right: 0;
      z-index: 1; 
      border-top: 1px solid #fff;
      border-bottom: 2px solid #fff;
      .img {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
        img {
          max-width: none;
        }
        .open &:first-child {
          z-index: 0;
          &::after {
            content: " ";
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            background: rgba(241,80,29,.85);
            z-index: 0;
          }
        }
        &_form {
          display: none;
          .open-reg &,
          .open-sending & {
            display: block;
          }
        }
      }
    }
  }
  &__inner {
    padding-top: 197px;
    position: relative;
    height: 100%;
    @include mq(lg) {
      padding-top: 0;
      display: flex;
      flex-wrap: wrap;
      font-size: 0.9em;
    }
    .open &_right {
       display: none;
    }
  }
  &__btn {
    width: 280px;
    border: 10px solid rgba(255,255,255,.5);
    border-radius: 10px;
    position: relative;
    @include font(24,24);
    z-index: 6;
    @include mq(lg){
      order: 2;
      margin-left:0!important;
      margin-right:0!important;
    }
    //////////////////////////////////////////////////////
    .col:first-child & {margin-left: 193px;}   // left btn
    .col:last-child & {margin-left: 78px;}    // right btn
    &_form {margin-left: 0!important} // reset for regform 
    //////////////////////////////////////////////////////
    button,
    [type="submit"] {
      width: 100%;
      padding: 0.75em 0;
      border: 0;
      border-radius: 3px;
      .col:first-child & {@include gBtn(bottom, #f3501e, #da4416);}
      .col:last-child & {@include gBtn(bottom, #00bed5, #007c9e);}
    }
  }
  &__target {
    color: #fff;
    @include font(48,54);
    text-transform: uppercase;
    padding-top: 20px;
    padding-bottom: 20px;
    position: absolute;
    top: 50%;
    height: 220px;
    &::before {
      position: absolute;
      content: " ";
      display: block;
      top: 0;
      bottom: 0;
    }
    @include mq(lg){
      position: static;
      order: 1;
      @include h1style;
      height: auto;
      width: 100%;
      text-align: left!important;
      padding: 0!important;
      padding-right: 0!important;
      background: none!important;
      br {
        display: none;
      }
      &::before {
        display: none;
      }
    }
    .col:first-child &  {
      background: rgba(234,76,27,.5);
      padding-right: 84px;
      text-align: right;
      z-index: 6;
      right: 4px;
      &::before{
        right: -67px;
        border-left: 67px solid rgba(234, 76, 27, 0.5);
        border-bottom: 220px solid transparent;
      }
    }
    .col:last-child &  {
      background: rgba(16,182,200,.5);
      padding-left: 42px;
      padding-right: 42px;
      z-index: 4;
      left: 38px;
      &::before{
        left: -67px;
        border-right: 67px solid rgba(16,182,200,.5);
        border-top: 220px solid transparent;
      }
    }
  }
  /////////////////////////
  &__title {
    @include font(36,40);
    color: #fff;
    text-transform: uppercase;
    margin-bottom: 11px;
  }
  &__form {
    position: relative;
    z-index: 4;
    padding: 50px 0 0 98px;
    display: none;
    @each $form in reg, sending, result {
      .open-#{$form} &_#{$form} {
        display: block;
      }
    }

    // .open-reg &_reg {
    //   display: block;
    // }
    // .open-sending &_sending {
    //   display: block;
    // }
    // .open-result &_result {
    //   display: block;
    // }
  }
}