// SCSS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home {
//   width: $icon-home-width;
// }
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path;
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites;
$arrow-left-name: 'arrow_left';
$arrow-left-x: 0px;
$arrow-left-y: 0px;
$arrow-left-offset-x: 0px;
$arrow-left-offset-y: 0px;
$arrow-left-width: 35px;
$arrow-left-height: 65px;
$arrow-left-total-width: 325px;
$arrow-left-total-height: 93px;
$arrow-left-image: '../images/sprite.png';
$arrow-left: (0px, 0px, 0px, 0px, 35px, 65px, 325px, 93px, '../images/sprite.png', 'arrow_left', );
$arrow-right-name: 'arrow_right';
$arrow-right-x: 35px;
$arrow-right-y: 0px;
$arrow-right-offset-x: -35px;
$arrow-right-offset-y: 0px;
$arrow-right-width: 35px;
$arrow-right-height: 65px;
$arrow-right-total-width: 325px;
$arrow-right-total-height: 93px;
$arrow-right-image: '../images/sprite.png';
$arrow-right: (35px, 0px, -35px, 0px, 35px, 65px, 325px, 93px, '../images/sprite.png', 'arrow_right', );
$divider-blue-name: 'divider_blue';
$divider-blue-x: 70px;
$divider-blue-y: 0px;
$divider-blue-offset-x: -70px;
$divider-blue-offset-y: 0px;
$divider-blue-width: 255px;
$divider-blue-height: 6px;
$divider-blue-total-width: 325px;
$divider-blue-total-height: 93px;
$divider-blue-image: '../images/sprite.png';
$divider-blue: (70px, 0px, -70px, 0px, 255px, 6px, 325px, 93px, '../images/sprite.png', 'divider_blue', );
$divider-orange-name: 'divider_orange';
$divider-orange-x: 70px;
$divider-orange-y: 6px;
$divider-orange-offset-x: -70px;
$divider-orange-offset-y: -6px;
$divider-orange-width: 255px;
$divider-orange-height: 6px;
$divider-orange-total-width: 325px;
$divider-orange-total-height: 93px;
$divider-orange-image: '../images/sprite.png';
$divider-orange: (70px, 6px, -70px, -6px, 255px, 6px, 325px, 93px, '../images/sprite.png', 'divider_orange', );
$dot-act-name: 'dot_act';
$dot-act-x: 200px;
$dot-act-y: 12px;
$dot-act-offset-x: -200px;
$dot-act-offset-y: -12px;
$dot-act-width: 14px;
$dot-act-height: 14px;
$dot-act-total-width: 325px;
$dot-act-total-height: 93px;
$dot-act-image: '../images/sprite.png';
$dot-act: (200px, 12px, -200px, -12px, 14px, 14px, 325px, 93px, '../images/sprite.png', 'dot_act', );
$dot-name: 'dot';
$dot-x: 214px;
$dot-y: 12px;
$dot-offset-x: -214px;
$dot-offset-y: -12px;
$dot-width: 14px;
$dot-height: 14px;
$dot-total-width: 325px;
$dot-total-height: 93px;
$dot-image: '../images/sprite.png';
$dot: (214px, 12px, -214px, -12px, 14px, 14px, 325px, 93px, '../images/sprite.png', 'dot', );
$ico-checkbox-off-name: 'ico-checkbox-off';
$ico-checkbox-off-x: 166px;
$ico-checkbox-off-y: 12px;
$ico-checkbox-off-offset-x: -166px;
$ico-checkbox-off-offset-y: -12px;
$ico-checkbox-off-width: 17px;
$ico-checkbox-off-height: 17px;
$ico-checkbox-off-total-width: 325px;
$ico-checkbox-off-total-height: 93px;
$ico-checkbox-off-image: '../images/sprite.png';
$ico-checkbox-off: (166px, 12px, -166px, -12px, 17px, 17px, 325px, 93px, '../images/sprite.png', 'ico-checkbox-off', );
$ico-checkbox-on-name: 'ico-checkbox-on';
$ico-checkbox-on-x: 183px;
$ico-checkbox-on-y: 12px;
$ico-checkbox-on-offset-x: -183px;
$ico-checkbox-on-offset-y: -12px;
$ico-checkbox-on-width: 17px;
$ico-checkbox-on-height: 17px;
$ico-checkbox-on-total-width: 325px;
$ico-checkbox-on-total-height: 93px;
$ico-checkbox-on-image: '../images/sprite.png';
$ico-checkbox-on: (183px, 12px, -183px, -12px, 17px, 17px, 325px, 93px, '../images/sprite.png', 'ico-checkbox-on', );
$ico-form-date-name: 'ico-form_date';
$ico-form-date-x: 119px;
$ico-form-date-y: 12px;
$ico-form-date-offset-x: -119px;
$ico-form-date-offset-y: -12px;
$ico-form-date-width: 21px;
$ico-form-date-height: 24px;
$ico-form-date-total-width: 325px;
$ico-form-date-total-height: 93px;
$ico-form-date-image: '../images/sprite.png';
$ico-form-date: (119px, 12px, -119px, -12px, 21px, 24px, 325px, 93px, '../images/sprite.png', 'ico-form_date', );
$ico-form-home-name: 'ico-form_home';
$ico-form-home-x: 70px;
$ico-form-home-y: 12px;
$ico-form-home-offset-x: -70px;
$ico-form-home-offset-y: -12px;
$ico-form-home-width: 28px;
$ico-form-home-height: 28px;
$ico-form-home-total-width: 325px;
$ico-form-home-total-height: 93px;
$ico-form-home-image: '../images/sprite.png';
$ico-form-home: (70px, 12px, -70px, -12px, 28px, 28px, 325px, 93px, '../images/sprite.png', 'ico-form_home', );
$ico-form-location-name: 'ico-form_location';
$ico-form-location-x: 0px;
$ico-form-location-y: 65px;
$ico-form-location-offset-x: 0px;
$ico-form-location-offset-y: -65px;
$ico-form-location-width: 17px;
$ico-form-location-height: 28px;
$ico-form-location-total-width: 325px;
$ico-form-location-total-height: 93px;
$ico-form-location-image: '../images/sprite.png';
$ico-form-location: (0px, 65px, 0px, -65px, 17px, 28px, 325px, 93px, '../images/sprite.png', 'ico-form_location', );
$ico-form-mail-name: 'ico-form_mail';
$ico-form-mail-x: 140px;
$ico-form-mail-y: 12px;
$ico-form-mail-offset-x: -140px;
$ico-form-mail-offset-y: -12px;
$ico-form-mail-width: 26px;
$ico-form-mail-height: 18px;
$ico-form-mail-total-width: 325px;
$ico-form-mail-total-height: 93px;
$ico-form-mail-image: '../images/sprite.png';
$ico-form-mail: (140px, 12px, -140px, -12px, 26px, 18px, 325px, 93px, '../images/sprite.png', 'ico-form_mail', );
$ico-form-name-name: 'ico-form_name';
$ico-form-name-x: 98px;
$ico-form-name-y: 12px;
$ico-form-name-offset-x: -98px;
$ico-form-name-offset-y: -12px;
$ico-form-name-width: 21px;
$ico-form-name-height: 26px;
$ico-form-name-total-width: 325px;
$ico-form-name-total-height: 93px;
$ico-form-name-image: '../images/sprite.png';
$ico-form-name: (98px, 12px, -98px, -12px, 21px, 26px, 325px, 93px, '../images/sprite.png', 'ico-form_name', );
$ico-form-tel-name: 'ico-form_tel';
$ico-form-tel-x: 17px;
$ico-form-tel-y: 65px;
$ico-form-tel-offset-x: -17px;
$ico-form-tel-offset-y: -65px;
$ico-form-tel-width: 14px;
$ico-form-tel-height: 26px;
$ico-form-tel-total-width: 325px;
$ico-form-tel-total-height: 93px;
$ico-form-tel-image: '../images/sprite.png';
$ico-form-tel: (17px, 65px, -17px, -65px, 14px, 26px, 325px, 93px, '../images/sprite.png', 'ico-form_tel', );
$ico-soc-fb-name: 'ico-soc_fb';
$ico-soc-fb-x: 89px;
$ico-soc-fb-y: 40px;
$ico-soc-fb-offset-x: -89px;
$ico-soc-fb-offset-y: -40px;
$ico-soc-fb-width: 19px;
$ico-soc-fb-height: 19px;
$ico-soc-fb-total-width: 325px;
$ico-soc-fb-total-height: 93px;
$ico-soc-fb-image: '../images/sprite.png';
$ico-soc-fb: (89px, 40px, -89px, -40px, 19px, 19px, 325px, 93px, '../images/sprite.png', 'ico-soc_fb', );
$ico-soc-gp-name: 'ico-soc_gp';
$ico-soc-gp-x: 127px;
$ico-soc-gp-y: 40px;
$ico-soc-gp-offset-x: -127px;
$ico-soc-gp-offset-y: -40px;
$ico-soc-gp-width: 19px;
$ico-soc-gp-height: 19px;
$ico-soc-gp-total-width: 325px;
$ico-soc-gp-total-height: 93px;
$ico-soc-gp-image: '../images/sprite.png';
$ico-soc-gp: (127px, 40px, -127px, -40px, 19px, 19px, 325px, 93px, '../images/sprite.png', 'ico-soc_gp', );
$ico-soc-ok-name: 'ico-soc_ok';
$ico-soc-ok-x: 70px;
$ico-soc-ok-y: 40px;
$ico-soc-ok-offset-x: -70px;
$ico-soc-ok-offset-y: -40px;
$ico-soc-ok-width: 19px;
$ico-soc-ok-height: 19px;
$ico-soc-ok-total-width: 325px;
$ico-soc-ok-total-height: 93px;
$ico-soc-ok-image: '../images/sprite.png';
$ico-soc-ok: (70px, 40px, -70px, -40px, 19px, 19px, 325px, 93px, '../images/sprite.png', 'ico-soc_ok', );
$ico-soc-vk-name: 'ico-soc_vk';
$ico-soc-vk-x: 108px;
$ico-soc-vk-y: 40px;
$ico-soc-vk-offset-x: -108px;
$ico-soc-vk-offset-y: -40px;
$ico-soc-vk-width: 19px;
$ico-soc-vk-height: 19px;
$ico-soc-vk-total-width: 325px;
$ico-soc-vk-total-height: 93px;
$ico-soc-vk-image: '../images/sprite.png';
$ico-soc-vk: (108px, 40px, -108px, -40px, 19px, 19px, 325px, 93px, '../images/sprite.png', 'ico-soc_vk', );
$spritesheet-width: 325px;
$spritesheet-height: 93px;
$spritesheet-image: '../images/sprite.png';
$spritesheet-sprites: ($arrow-left, $arrow-right, $divider-blue, $divider-orange, $dot-act, $dot, $ico-checkbox-off, $ico-checkbox-on, $ico-form-date, $ico-form-home, $ico-form-location, $ico-form-mail, $ico-form-name, $ico-form-tel, $ico-soc-fb, $ico-soc-gp, $ico-soc-ok, $ico-soc-vk, );
$spritesheet: (325px, 93px, '../images/sprite.png', $spritesheet-sprites, );

// The provided mixins are intended to be used with the array-like variables
//
// .icon-home {
//   @include sprite-width($icon-home);
// }
//
// .icon-email {
//   @include sprite($icon-email);
// }
//
// Example usage in HTML:
//
// `display: block` sprite:
// <div class="icon-home"></div>
//
// To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:
//
// // CSS
// .icon {
//   display: inline-block;
// }
//
// // HTML
// <i class="icon icon-home"></i>
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

// The `sprites` mixin generates identical output to the CSS template
//   but can be overridden inside of SCSS
//
// @include sprites($spritesheet-sprites);
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
